{
	"upstreamHost": "",
	"upstreamPort": ,
	"listenPort": ,
	"listenHttpPort": ,
	"upstreamTimeout": ,
	"clientTimeout": ,
	"maxQueue": 100,
	"queueTimeout": 35,
	"queueShortTimeout": 5,
	"noAutoReversal": false,
	"logFile": "",
	"pidFile": "",
	"logstashHost": "",
	"logstashPort": ,
	"logstashNode": "SocketQueue",
	"echoServerPort": ,
	"testClients": ,
	"testTargetHost": "",
	"testTargetPort": ,
	"testRealLife": ,
	"statServerPort": ,
	"statDumpFile": ,
	"c": "",
	"v": false,
	"vv": false,
	"dangerous": false,
	"useHeader": true,
	"silent": false,
	"help": false,
	"helpJson": false
}
